html {
    background-image: url("../res/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
}